

.picture{
    min-height: 200px;
}

.dashed {
    border-style: dashed !important;
}

.clickable {
    cursor: pointer;
}
.clickable-with-hover-black {
    cursor: pointer;
}

.clickable-with-hover-black:hover {
    color: black;
    transition: all 0.5s;
}

.pop-up {

    width: 100% !important;
    height: 100vh !important;
    position: fixed !important;
    top: -100%;
    left: 0;
    z-index: 999 !important;
    transition: all 0.8s;
    opacity: 0;
}

.dark_pop_up {
    background-color: #00000052;
    z-index: 1000 !important;
}

.standard-box {
    min-height: 200px;
    width: 400px;
}

.standard-box-z-index {
    position: relative;
    z-index: 99999 !important;
}

.show-pop-up {
    top:0;
    transform: none;
    opacity: 1;
}

.hover-albums,.hover-create{

    transition: all 0.5s;
}
.hover-create:hover,.hover-albums:hover{
    transform: scale(1.1);
}
.hover-edit {
    transition: 0.2s;
}
.hover-edit:hover {
transform: scale(1.2);
   animation: pen 0.3s ease-in-out 0.1s infinite alternate-reverse;

}
.delete:hover {

    color: maroon;

}

.flag {
    min-width: 50px;
    height: 50px;
}

.move {
    z-index: 99999;
}

@keyframes pen
{
    0%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(-30deg);

    }
}

@media (max-width: 768px) {

    .hover-albums:hover,.hover-create:hover{

        transform: scale(1);
    }
}
@media (max-width: 500px) {

    .standard-box{

        width: 95% !important;
        margin: auto;
    }
}

